@charset "UTF-8";
.main-container
{
    width: 100%;
    height: 700px;
    background-color: #f5f5f5;
    position: relative;
    overflow: hidden;
}
a::after
{
    content: "";
    display: block;
    font-weight: bold;
    width: 0;
    height: 2px;
    background-color: rgb(0, 0, 0);
    transition: width 0.3s ease-in-out;
}
a:hover::after,
a:focus::after
{
    width: 100%;
}
.logo
{
    position: absolute;
    left: 10%;
    top: 44px;
    display: inline-block;
    margin: 4px;
    transition-duration: 0.4s;
}
:root
{
    --bg-black-900: #32455f;
    --bg-black-100: #fdf9ff;
    --bg-black-50: #e8dfec;
    --text-black-900: #302e4d;
    --text-black-700: #504e70;
}
body
{
    margin: 0 auto;
    line-height: 1.5;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    height: 8000px;
}
*
{
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
}
.home-info
{
    color: var(--bg-black-900);
    position: absolute;
    left: 9%;
    top: 200px;
    font-size: 40px;
}
.home-info1
{
    color: var(--bg-black-900);
    position: absolute;
    left: 9%;
    top: 320px;
    font-size: 20px;
}
.padd-15
{
    padding-left: 15px;
    padding-right: 15px;
    padding: 30px;
}
.padd-15-1
{
    padding-left: 15px;
    padding-right: 15px;
}

.home-info1::after
{
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    border-bottom: 3px solid var(--bg-black-900);
    border-left: 3px solid var(--bg-black-900);
    bottom: -10px;
    left: 0;
}
.Home
{
    color: var(--bg-black-900);
    position: absolute;
    left: 30%;
    top: 60px;
    display: inline-block;
    margin: 4px;
    cursor: pointer;
    transition-duration: 0.4s;
    font-family: 'Poppins', sans-serif;
}

.Class
{
    color: var(--bg-black-900);
    position: absolute;
    left: 36%;
    top: 60px;
    display: inline-block;
    margin: 4px;
    cursor: pointer;
    transition-duration: 0.4s;
}

.Tours
{
    color: var(--bg-black-900);
    position: absolute;
    left: 43%;
    top: 60px;
    display: inline-block;
    margin: 4px;
    cursor: pointer;
    transition-duration: 0.4s;
}

.Maps
{
    color: var(--bg-black-900);
    position: absolute;
    left: 49%;
    top: 60px;
    display: inline-block;
    margin: 4px;
    cursor: pointer;
    transition-duration: 0.4s;
}

.Login
{
    color: var(--bg-black-900);
    position: absolute;
    right: 10%;
    top: 60px;
    display: inline-block;
    margin: 4px;
    cursor: pointer;
    transition-duration: 0.4s;
}

.home-img
{
    width: 1440px;
    height: 900px;
    position: absolute;
    left: 0%;
    top: 140px;
    display: inline-block;
    transition-duration: 0.4s;
    -o-background-size: 100%;
}
.home-img2
{
    position: absolute;
    left: 0%;
    top: 0px;
    display: inline-block;
    transition-duration: 0.4s;
    -o-background-size: 100%;
}
.home-img3
{
    position: absolute;
    left: 0%;
    top: 0px;
    display: inline-block;
    transition-duration: 0.4s;
    -o-background-size: 100%;
}
.group:before,
.group:after {
  content: " ";
  display: table;
}

.group:after {
  clear: both;
}

.group {
  zoom: 1; /* ie 6/7 */
}
.shadow-dark
{
    box-shadow: 0 0 15px rgb(48, 46, 77, 0.15);
}
.box1
{
    width: 570px;
    height: 500px;
    left: 20%;
    top: 5px;
    display: inline-block;
    transition-duration: 0.4s;
    border-radius: 5%;
}
.box2
{
    width: 570px;
    height: 500px;
    left: 15%;
    top: 5px;
    display: inline-block;
    transition-duration: 0.4s;
    border-radius: 5%;
}
.title
{
    margin-top: 50px;
}
.container2
{
    margin-left: 10%;
}
.container2 .title-img
{
    margin-top: -140px;
    margin-left: 350px;
}
.title-line
{
    margin-top:30px;
}
.title-text2
{
    margin-top: 30px;
    margin-left: 7px;
}
.circ
{
    margin-top: 50px;
    margin-left: 7px;
}
.titleText
{
    margin-top: 50px;
    margin-left: 240px;
}
.titleLine 
{
    margin-top: 50px;
    margin-left: 240px;
}
.x1 
{
    float: right;
    margin-right: -90px;
    margin-top: -670px;
}
.x2 
{
    float: right;
    margin-right: -90px;
    margin-top: -80px;
}
.group-3 {
    height: 583px;
    margin: 86px 0 0;
    margin-left: -200px;
    position: relative;
    width: 100%; /* 1440px / 1440px = 100% */
    z-index: 194;
  }
  .image-2 {
    height: 579px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%; /* 1440px / 1440px = 100% */
    background: url(/images/place_your_image_here_dou_8.jpg) no-repeat center 0;
    background-position: center top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .design-4 {
    left: 0;
    padding: 70px 30px 100px;
    position: absolute;
    background: rgba(86, 75, 103, 0.74);
  }
  .l-constrained-4 {
    margin: 0 auto;
    position: relative;
    width: 1440px;
  }
  .shape-6 {
    display: block;
    left: 83.5px;
    margin: 0 auto;
    position: relative;
  }
  .row-17 {
    left: 36px;
    margin: -13px auto 0;
    position: relative;
    width: 1368px;
  }
  .col-37 {
    float: left;
    position: relative;
    width: 791px;
    z-index: 0;
  }
  .title-3 {
    left: 13px;
    margin: 0 auto;
    position: relative;
    width: 765px;
    z-index: 209;
    color: #ffffff;
    font-family: 'Bebas Neue', display;
    font-size: 50px; /* 100px / 16px = 6.25rem */
    line-height: 100px;
    text-transform: uppercase;
  }
  .subtitle {
    margin: 14px 0 0 25px;
    position: relative;
    width: 419px;
    z-index: 208;
    color: #ffffff;
    font-family: 'Bebas Neue', display;
    font-size: 40px; /* 50px / 16px = 3.125rem */
    line-height: 50px;
    text-transform: uppercase;
  }
  .shape-7 {
    display: block;
    margin: -8px 0 0;
    position: relative;
    z-index: 198;
  }
  .col-38 {
    float: right;
    margin: 205px 0 0;
    position: relative;
    width: 299px;
  }
  .date {
    margin: 0 0 0 14px;
    color: #ffffff;
    font-family: 'Bebas Neue', display;
    font-size: 3.125rem; /* 50px / 16px = 3.125rem */
    text-transform: uppercase;
  }
  .shape-8 {
    display: block;
    height: 9px;
    margin: 20px auto 0;
    position: relative;
    right: 18px;
    width: 95px;
    background: #fbfbf5;
  }
  .button {
    margin: 45px 0 0;
    min-height: 33px;
    position: relative;
    width: 189px;
    -webkit-border-radius: 16.6px/16.5px 16.5px 16.51px 16.51px;
    -moz-border-radius: 16.6px/16.5px 16.5px 16.51px 16.51px;
    border-radius: 16.6px/16.5px 16.5px 16.51px 16.51px;
    background: #fbfbf5;
    font-variant: small-caps;
    font-weight: bold;
    line-height: 33px;
    text-align: center;
  }
  .group-4 {
    margin: -261px 0 0;
    position: relative;
    z-index: 172;
  }
  .design-5 {
    overflow: hidden;
    padding: 0 0 33px;
    position: relative;
    width: 100%; /* 1440px / 1440px = 100% */
    z-index: 175;
    background: url(/images/shape_27.png) no-repeat center bottom;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .row-4 {
    padding: 309px 0 169px;
    position: relative;
    width: 100%; /* 1440px / 1440px = 100% */
    background: url(/images/shape_28.png) no-repeat center 0;
    background-position: center top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .l-constrained-6 {
    padding-left: 40px;
    margin: 0 auto;
    width: 1440px;
  }
  .col-31 {
    float: left;
    margin: 0 29px 0 0;
    position: relative;
    width: 1280px;
    z-index: 0;
  }
  .shape-9 {
    display: block;
    margin: 0 0 0 250px;
    position: relative;
    z-index: 179;
  }
  .row-13 {
    left: 13.5px;
    margin: -24px auto 0;
    overflow: hidden;
    position: relative;
    width: 1253px;
    z-index: 181;
  }
  .title-4 {
    float: left;
    width: 583px;
    font-family: 'Bebas Neue', display;
    font-size: 4.6875rem; /* 75px / 16px = 4.6875rem */
    letter-spacing: 0.05em;
    line-height: 75px;
    text-transform: uppercase;
  }
  .price {
    float: right;
    margin: 24px 0 0;
    width: 98px;
    font-weight: bold;
    line-height: 25px;
  }
  .date-2 {
    float: right;
    margin: 30px 2px 0 0;
    width: 173px;
    font-family: 'Bebas Neue', display;
    font-size: 2.083333rem; /* 33.33px / 16px = 2.083125rem */
    line-height: 33.33333px;
  }
  .shape-10 {
    float: right;
    margin: 96px 9px 0 0;
  }
  .shape-11 {
    display: block;
    margin: -12px 0 0;
    position: relative;
    z-index: 180;
  }
  .subtitle-2 {
    margin: 15px 0 0 23px;
    position: relative;
    z-index: 188;
    font-family: 'Bebas Neue', display;
    font-size: 2.604167rem; /* 41.67px / 16px = 2.604375rem */
    text-transform: uppercase;
  }
  .body-text-5 {
    margin: 15px 0 0 27px;
    position: relative;
    width: 543px;
    z-index: 187;
    font-family: Bitter, serif;
    line-height: 45.83333px;
  }
  .line-3 {
    height: 2px;
    margin: 33px 0 0 17px;
    position: relative;
    width: 531px;
    z-index: 177;
    border: 1px solid #564b67; /*stroke*/
  }
  .text-3 {
    margin: 28px 0 0 27px;
    position: relative;
    width: 493px;
    z-index: 186;
    font-weight: bold;
    line-height: 41.66667px;
  }
  .shape-12 {
    float: left;
    margin: 54px 0 0;
  }
  .image-3 {
    height: 634px;
    margin: -593px 0 0;
    position: relative;
    width: 100%;
    z-index: 172;
    background: url(/images/place_your_image_here_dou_7.jpg) no-repeat center 0;
    background-position: center top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }