@charset "UTF-8";
.main-container
{
    width: 100%;
    height: 700px;
    background-color: #f5f5f5;
    position: relative;
    overflow: hidden;
}
a::after
{
    content: "";
    display: block;
    font-weight: bold;
    width: 0;
    height: 2px;
    background-color: rgb(0, 0, 0);
    transition: width 0.3s ease-in-out;
}
a:hover::after,
a:focus::after
{
    width: 100%;
}
.logo
{
    position: absolute;
    left: 10%;
    top: 44px;
    display: inline-block;
    margin: 4px;
    transition-duration: 0.4s;
}
:root
{
    --bg-black-900: #32455f;
    --bg-black-100: #fdf9ff;
    --bg-black-50: #e8dfec;
    --text-black-900: #302e4d;
    --text-black-700: #504e70;
    --skin-color: #ec1839;
}
body
{
    margin: 0 auto;
    line-height: 1.5;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    height: 8000px;
}
*
{
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
}
.home-info
{
    color: var(--bg-black-900);
    position: absolute;
    left: 9%;
    top: 200px;
    font-size: 40px;
}
.home-info1
{
    color: var(--bg-black-900);
    position: absolute;
    left: 9%;
    top: 320px;
    font-size: 20px;
}
.padd-15
{
    padding-left: 15px;
    padding-right: 15px;
    padding: 30px;
}
.padd-15-1
{
    padding-left: 15px;
    padding-right: 15px;
}

.home-info1::after
{
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    border-bottom: 3px solid var(--bg-black-900);
    border-left: 3px solid var(--bg-black-900);
    bottom: -10px;
    left: 0;
}
.Home
{
    color: var(--bg-black-900);
    position: absolute;
    left: 30%;
    top: 60px;
    display: inline-block;
    margin: 4px;
    cursor: pointer;
    transition-duration: 0.4s;
    font-family: 'Poppins', sans-serif;
}

.Class
{
    color: var(--bg-black-900);
    position: absolute;
    left: 36%;
    top: 60px;
    display: inline-block;
    margin: 4px;
    cursor: pointer;
    transition-duration: 0.4s;
}

.Tours
{
    color: var(--bg-black-900);
    position: absolute;
    left: 43%;
    top: 60px;
    display: inline-block;
    margin: 4px;
    cursor: pointer;
    transition-duration: 0.4s;
}

.Maps
{
    color: var(--bg-black-900);
    position: absolute;
    left: 49%;
    top: 60px;
    display: inline-block;
    margin: 4px;
    cursor: pointer;
    transition-duration: 0.4s;
}

.Login
{
    color: var(--bg-black-900);
    position: absolute;
    right: 10%;
    top: 60px;
    display: inline-block;
    margin: 4px;
    cursor: pointer;
    transition-duration: 0.4s;
}

.home-img
{
    width: 1440px;
    height: 900px;
    position: absolute;
    left: 0%;
    top: 140px;
    display: inline-block;
    transition-duration: 0.4s;
    -o-background-size: 100%;
}
.home-img2
{
    position: absolute;
    left: 0%;
    top: 0px;
    display: inline-block;
    transition-duration: 0.4s;
    -o-background-size: 100%;
}
.home-img3
{
    position: absolute;
    left: 0%;
    top: 0px;
    display: inline-block;
    transition-duration: 0.4s;
    -o-background-size: 100%;
}
.group:before,
.group:after {
  content: " ";
  display: table;
}

.group:after {
  clear: both;
}

.group {
  zoom: 1; /* ie 6/7 */
}
.shadow-dark
{
    box-shadow: 0 0 15px rgb(48, 46, 77, 0.15);
}
.box1
{
    width: 570px;
    height: 500px;
    left: 20%;
    top: 5px;
    display: inline-block;
    transition-duration: 0.4s;
    border-radius: 5%;
}
.box2
{
    width: 570px;
    height: 500px;
    left: 15%;
    top: 5px;
    display: inline-block;
    transition-duration: 0.4s;
    border-radius: 5%;
}
.title
{
    margin-top: 50px;
}
.container2
{
    margin-left: 10%;
}
.container2 .title-img
{
    margin-top: -140px;
    margin-left: 350px;
}
.title-line
{
    margin-top:30px;
}
.title-text2
{
    margin-top: 30px;
    margin-left: 7px;
}
.circ
{
    margin-top: 50px;
    margin-left: 7px;
}
.titleText
{
    margin-top: 50px;
    margin-left: 240px;
}
.titleLine 
{
    margin-top: 50px;
    margin-left: 240px;
}
.x1 
{
    float: right;
    margin-right: -90px;
    margin-top: -670px;
}
.x2 
{
    float: right;
    margin-right: -90px;
    margin-top: -80px;
}
.group-3 {
    height: 583px;
    margin: 86px 0 0;
    margin-left: -200px;
    position: relative;
    width: 100%; /* 1440px / 1440px = 100% */
    z-index: 194;
  }
  .image-2 {
    height: 579px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%; /* 1440px / 1440px = 100% */
    background: url(/images/place_your_image_here_dou_8.jpg) no-repeat center 0;
    background-position: center top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .design-4 {
    left: 0;
    padding: 70px 30px 100px;
    position: absolute;
    background: rgba(86, 75, 103, 0.74);
  }
  .l-constrained-4 {
    margin: 0 auto;
    position: relative;
    width: 1440px;
  }
  .shape-6 {
    display: block;
    left: 83.5px;
    margin: 0 auto;
    position: relative;
  }
  .row-17 {
    left: 36px;
    margin: -13px auto 0;
    position: relative;
    width: 1368px;
  }
  .col-37 {
    float: left;
    position: relative;
    width: 791px;
    z-index: 0;
  }
  .title-3 {
    left: 13px;
    margin: 0 auto;
    position: relative;
    width: 765px;
    z-index: 209;
    color: #ffffff;
    font-family: 'Bebas Neue', display;
    font-size: 50px; /* 100px / 16px = 6.25rem */
    line-height: 100px;
    text-transform: uppercase;
  }
  .subtitle {
    margin: 14px 0 0 25px;
    position: relative;
    width: 419px;
    z-index: 208;
    color: #ffffff;
    font-family: 'Bebas Neue', display;
    font-size: 40px; /* 50px / 16px = 3.125rem */
    line-height: 50px;
    text-transform: uppercase;
  }
  .shape-7 {
    display: block;
    margin: -8px 0 0;
    position: relative;
    z-index: 198;
  }
  .col-38 {
    float: right;
    margin: 205px 0 0;
    position: relative;
    width: 299px;
  }
  .date {
    margin: 0 0 0 14px;
    color: #ffffff;
    font-family: 'Bebas Neue', display;
    font-size: 3.125rem; /* 50px / 16px = 3.125rem */
    text-transform: uppercase;
  }
  .shape-8 {
    display: block;
    height: 9px;
    margin: 20px auto 0;
    position: relative;
    right: 18px;
    width: 95px;
    background: #fbfbf5;
  }
  .button {
    margin: 45px 0 0;
    min-height: 33px;
    position: relative;
    width: 189px;
    -webkit-border-radius: 16.6px/16.5px 16.5px 16.51px 16.51px;
    -moz-border-radius: 16.6px/16.5px 16.5px 16.51px 16.51px;
    border-radius: 16.6px/16.5px 16.5px 16.51px 16.51px;
    background: #fbfbf5;
    font-variant: small-caps;
    font-weight: bold;
    line-height: 33px;
    text-align: center;
  }
  .group-4 {
    margin: -261px 0 0;
    position: relative;
    z-index: 172;
  }
  .design-5 {
    overflow: hidden;
    padding: 0 0 33px;
    position: relative;
    width: 100%; /* 1440px / 1440px = 100% */
    z-index: 175;
    background: url(/images/shape_27.png) no-repeat center bottom;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .row-4 {
    padding: 309px 0 169px;
    position: relative;
    width: 100%; /* 1440px / 1440px = 100% */
    background: url(/images/shape_28.png) no-repeat center 0;
    background-position: center top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .l-constrained-6 {
    padding-left: 40px;
    margin: 0 auto;
    width: 1440px;
  }
  .col-31 {
    float: left;
    margin: 0 29px 0 0;
    position: relative;
    width: 1280px;
    z-index: 0;
  }
  .shape-9 {
    display: block;
    margin: 0 0 0 250px;
    position: relative;
    z-index: 179;
  }
  .row-13 {
    left: 13.5px;
    margin: -24px auto 0;
    overflow: hidden;
    position: relative;
    width: 1253px;
    z-index: 181;
  }
  .title-4 {
    float: left;
    width: 583px;
    font-family: 'Bebas Neue', display;
    font-size: 4.6875rem; /* 75px / 16px = 4.6875rem */
    letter-spacing: 0.05em;
    line-height: 75px;
    text-transform: uppercase;
  }
  .price {
    float: right;
    margin: 24px 0 0;
    width: 98px;
    font-weight: bold;
    line-height: 25px;
  }
  .date-2 {
    float: right;
    margin: 30px 2px 0 0;
    width: 173px;
    font-family: 'Bebas Neue', display;
    font-size: 2.083333rem; /* 33.33px / 16px = 2.083125rem */
    line-height: 33.33333px;
  }
  .shape-10 {
    float: right;
    margin: 96px 9px 0 0;
  }
  .shape-11 {
    display: block;
    margin: -12px 0 0;
    position: relative;
    z-index: 180;
  }
  .subtitle-2 {
    margin: 15px 0 0 23px;
    position: relative;
    z-index: 188;
    font-family: 'Bebas Neue', display;
    font-size: 2.604167rem; /* 41.67px / 16px = 2.604375rem */
    text-transform: uppercase;
  }
  .body-text-5 {
    margin: 15px 0 0 27px;
    position: relative;
    width: 543px;
    z-index: 187;
    font-family: Bitter, serif;
    line-height: 45.83333px;
  }
  .line-3 {
    height: 2px;
    margin: 33px 0 0 17px;
    position: relative;
    width: 531px;
    z-index: 177;
    border: 1px solid #564b67; /*stroke*/
  }
  .text-3 {
    margin: 28px 0 0 27px;
    position: relative;
    width: 493px;
    z-index: 186;
    font-weight: bold;
    line-height: 41.66667px;
  }
  .shape-12 {
    float: left;
    margin: 54px 0 0;
  }
  .image-3 {
    height: 634px;
    margin: -593px 0 0;
    position: relative;
    width: 100%;
    z-index: 172;
    background: url(/images/place_your_image_here_dou_7.jpg) no-repeat center 0;
    background-position: center top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .group-5 {
    height: 1008px;
    margin: 38px 0 0;
    overflow: hidden;
    position: relative;
    width: 100%; /* 1440px / 1440px = 100% */
    z-index: 126;
  }
  .text-5 {
    left: 50%;
    position: absolute;
    top: 58px;
    width: 1169px;
    margin-left: -626px;
  }
  .title-5 {
    color: #564b67;
    font-family: 'Bebas Neue', display;
    font-size: 4.6875rem; /* 75px / 16px = 4.6875rem */
    letter-spacing: 0;
    line-height: 75px;
    text-transform: uppercase;
  }
  .image-4 {
    margin: 62px 34px 0 91px;
    position: relative;
  }
  .place-your-image-here-double-click-to-edit {
    float: left;
    margin: 5px 0 0;
    border-radius: 190px;
  }
  .place-your-image-here-double-click-to-edit-2 {
    float: left;
    margin: 1px 0 0 104px;
    border-radius: 190px;
  }
  .place-your-image-here-double-click-to-edit-3 {
    float: left;
    margin: 0 0 0 101px;
    border-radius: 190px;
  }
  .row-3 {
    left: 59.5px;
    margin: 38px auto 0;
    position: relative;
    width: 1050px;
  }
  .mountain {
    float: left;
    left: -20px;
    margin: 1px 0 0;
    position: relative;
    width: 290px;
  }
  .title-6 {
    margin: 0 0 0 4px;
    font-family: 'Bebas Neue', display;
    font-size: 2.604167rem; /* 41.67px / 16px = 2.604375rem */
    letter-spacing: 0.05em;
  }
  .body-text-6 {
    margin: 24px 0 0;
    font-size: 1.302083rem; /* 20.83px / 16px = 1.301875rem */
    font-weight: bold;
    letter-spacing: 0;
    line-height: 1.2;
  }
  .line-4 {
    height: 2px;
    margin: 28px 0 0;
    position: relative;
    width: 290px;
    border: 1px solid #745a82; /*stroke*/
  }
  .location {
    margin: 21px 0 0 4px;
    font-weight: bold;
  }
  .national-park {
    left: -20px;
    float: left;
    margin: 2px 0 0 92px;
    position: relative;
    width: 290px;
  }
  .title-7 {
    font-family: 'Bebas Neue', display;
    font-size: 2.604167rem; /* 41.67px / 16px = 2.604375rem */
    letter-spacing: 0.05em;
  }
  .body-text-7 {
    margin: 19px 0 0;
    font-size: 1.302083rem; /* 20.83px / 16px = 1.301875rem */
    font-weight: bold;
    letter-spacing: 0;
    line-height: 1.2;
  }
  .line-5 {
    height: 2px;
    margin: 29px 0 0;
    position: relative;
    width: 290px;
    border: 1px solid #745a82; /*stroke*/
  }
  .location-2 {
    margin: 19px 0 0;
    font-weight: bold;
  }
  .canyon {
    left: -20px;
    float: left;
    margin: 0 0 0 88px;
    position: relative;
    width: 290px;
  }
  .title-8 {
    margin: 0 0 0 5px;
    font-family: 'Bebas Neue', display;
    font-size: 2.604167rem; /* 41.67px / 16px = 2.604375rem */
    letter-spacing: 0.05em;
  }
  .body-text-8 {
    margin: 24px 0 0 4px;
    font-size: 1.302083rem; /* 20.83px / 16px = 1.301875rem */
    font-weight: bold;
    letter-spacing: 0;
    line-height: 1.2;
  }
  .line-6 {
    height: 2px;
    margin: 29px 0 0;
    position: relative;
    width: 290px;
    border: 1px solid #745a82; /*stroke*/
  }
  .location-3 {
    margin: 19px 0 0 5px;
    font-weight: bold;
  }
  .design-6 {
    left: 0;
    padding: 31px 0 97px;
    position: absolute;
    top: 0;
    width: 100%;
    background: url(images/shape_21.png) no-repeat center 0;
    background-position: center top;
  }
  .l-constrained-3 {
    margin: 0 auto;
    padding: 0 64px;
    position: relative;
    width: 1440px;
  }
  .shape-13 {
    display: block;
    margin: 0 auto;
    right: 240px;
  }
  .shape-14 {
    display: block;
    margin: 128px 0 0;
    position: relative;
  }
  .row-2 {
    margin: 308px 121px 0;
    position: relative;
  }
  .button-2 {   
    margin: 350px auto 0;
    min-height: 33px;
    position: relative;
    width: 189px;
    -webkit-border-radius: 16.6px/16.5px 16.5px 16.51px 16.51px;
    -moz-border-radius: 16.6px/16.5px 16.5px 16.51px 16.51px;
    border-radius: 16.6px/16.5px 16.5px 16.51px 16.51px;
    background: #564b67;
    color: #fbfbf5;
    font-variant: small-caps;
    font-weight: bold;
    line-height: 33px;
    text-align: center;
  }
  .image-5 {
    margin: -8px 0 0;
    padding: 14px 0 0;
    position: relative;
    width: 100%; /* 1440px / 1440px = 100% */
    z-index: 106;
    background: url(/images/place_your_image_here_dou_3.jpg) no-repeat center 0;
    background-position: center top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .design-7 {
    padding: 107px 0 87px;
    position: relative;
    background: rgba(50, 69, 95, 0.74);
    margin-top: -25px;
  }
  .l-constrained-2 {
    margin: 0 auto;
    padding: 0 73px;
    position: relative;
    width: 1440px;
  }
  .shape-18 {
    display: block;
    left: 629.5px;
    margin: 0 auto;
    position: relative;
  }
  .row-16 {
    margin: -13px auto 0;
    position: relative;
    right: 7px;
    width: 1252px;
  }
  .col-35 {
    float: left;
    margin: 205px 0 0;
    position: relative;
    width: 404px;
  }
  .date-3 {
    margin: 0 auto;
    width: 400px;
    color: #ffffff;
    font-family: 'Bebas Neue', display;
    font-size: 3.125rem;
    text-transform: uppercase;
  }
  .shape-19 {
    height: 9px;
    margin: 20px 0 0 4px;
    position: relative;
    width: 95px;
    background: #fbfbf5;
  }
  .button-3 {
    margin: 45px 0 0;
    min-height: 33px;
    position: relative;
    width: 189px;
    -webkit-border-radius: 16.6px/16.5px 16.5px 16.51px 16.51px;
    -moz-border-radius: 16.6px/16.5px 16.5px 16.51px 16.51px;
    border-radius: 16.6px/16.5px 16.5px 16.51px 16.51px;
    background: #fbfbf5;
    font-variant: small-caps;
    font-weight: bold;
    line-height: 33px;
    text-align: center;
  }
  .col-36 {
    float: right;
    position: relative;
    width: 716px;
    z-index: 0;
  }
  .title-9 {
    margin: 0 auto;
    position: relative;
    width: 712px;
    z-index: 121;
    color: #ffffff;
    font-family: 'Bebas Neue', display;
    font-size: 6.25rem;
    line-height: 100px;
    text-align: right;
    text-transform: uppercase;
  }
  .subtitle-3 {
    left: 149px;
    margin: 14px auto 0;
    position: relative;
    width: 418px;
    z-index: 120;
    color: #ffffff;
    font-family: 'Bebas Neue', display;
    font-size: 3.125rem;
    line-height: 50px;
    text-align: right;
    text-transform: uppercase;
  }
  .shape-20 {
    display: block;
    left: 96px;
    margin: -8px auto 0;
    position: relative;
    z-index: 110;
  }
  .group-7 {
    margin: 98px auto 0;
    overflow: hidden;
    padding: 0 36px;
    position: relative;
    width: 1440px;
    z-index: 75;
  }
  .row-20 {
    position: relative;
  }
  .shape-21 {
    float: left;
    margin: 12px 27px 0 0;
  }
  .title-10 {
    margin-left: 70px;
    width: 495px;
    color: #5f6551;
    font-family: 'Bebas Neue', display;
    font-size: 70px; 
    letter-spacing: 0;
    line-height: 75px;
    text-transform: uppercase;
  }
  .row-7 {
    margin: 33px 54px 0;
    position: relative;
  }
  .shape-22 {
    float: left;
    height: 9px;
    width: 95px;
    background: #5f6551;
  }
  .place-your-design-here-double-click-to-edit-3 {
    float: left;
    margin: 43px 0 0 27px;
  }
  .place-your-design-here-double-click-to-edit-4 {
    float: left;
    margin: 42px 0 0 277px;
  }
  .place-your-design-here-double-click-to-edit-5 {
    float: left;
    margin: 42px 0 0 253px;
  }
  .row-8 {
    margin: 24px auto 0;
    overflow: hidden;
    position: relative;
    width: 1196px;
  }
  .col-15 {
    float: left;
    position: relative;
    width: 359px;
  }
  .subtitle-4 {
    color: #5f6551;
    font-family: 'Bebas Neue', display;
    font-size: 2.604167rem;
    letter-spacing: 0.05em;
    text-align: center;
    text-transform: uppercase;
  }
  .body-text-9 {
    margin: 25px 0 0;
    color: #5f6551;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 37.5px;
    text-align: center;
  }
  .col-16 {
    float: left;
    margin: 0 0 0 62px;
    position: relative;
    width: 359px;
  }
  .subtitle-5 {
    color: #5f6551;
    font-family: 'Bebas Neue', display;
    font-size: 2.604167rem; 
    letter-spacing: 0.05em;
    text-align: center;
    text-transform: uppercase;
  }
  .body-text-10 {
    margin: 25px auto 0;
    color: #5f6551;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 37.5px;
    text-align: center;
  }
  .col-17 {
    float: left;
    margin: 0 0 0 57px;
    position: relative;
    width: 359px;
  }
  .subtitle-6 {
    color: #5f6551;
    font-family: 'Bebas Neue', display;
    font-size: 2.604167rem;
    letter-spacing: 0.05em;
    text-align: center;
    text-transform: uppercase;
    word-wrap: break-word;
  }
  .body-text-11 {
    margin: 25px auto 0;
    color: #5f6551;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 37.5px;
    text-align: center;
  }
  .row {
    left: 80px;
    margin: -16px auto 0;
    position: relative;
    width: 1184px;
  }
  .button-4 {
    float: left;
    margin: 53px 0 0;
    min-height: 33px;
    width: 189px;
    -webkit-border-radius: 16.6px/16.5px 16.5px 16.51px 16.51px;
    -moz-border-radius: 16.6px/16.5px 16.5px 16.51px 16.51px;
    border-radius: 16.6px/16.5px 16.5px 16.51px 16.51px;
    background: #5f6551;
    color: #fbfbf5;
    font-variant: small-caps;
    font-weight: bold;
    line-height: 33px;
    text-align: center;
  }
  .button-5 {
    float: left;
    margin: 53px 0 0 225px;
    min-height: 33px;
    width: 189px;
    -webkit-border-radius: 16.6px/16.5px 16.5px 16.51px 16.51px;
    -moz-border-radius: 16.6px/16.5px 16.5px 16.51px 16.51px;
    border-radius: 16.6px/16.5px 16.5px 16.51px 16.51px;
    background: #5f6551;
    color: #fbfbf5;
    font-variant: small-caps;
    font-weight: bold;
    line-height: 33px;
    text-align: center;
  }
  .button-6 {
    float: left;
    margin: 53px 0 0 229px;
    min-height: 33px;
    width: 189px;
    -webkit-border-radius: 16.6px/16.5px 16.5px 16.51px 16.51px;
    -moz-border-radius: 16.6px/16.5px 16.5px 16.51px 16.51px;
    border-radius: 16.6px/16.5px 16.5px 16.51px 16.51px;
    background: #5f6551;
    color: #fbfbf5;
    font-variant: small-caps;
    font-weight: bold;
    line-height: 33px;
    text-align: center;
  }
  .shape-23 {
    float: left;
    margin: 0 0 0 140px;
  }
  .group-8 {
    margin: -126px 0 0;
    overflow: hidden;
    position: relative;
    z-index: 53;
  }
  .design-8 {
    overflow: hidden;
    padding: 0 0 70px;
    position: relative;
    width: 100%; /* 1440px / 1440px = 100% */
    z-index: 56;
    background: url(/images/shape_9.png) no-repeat center bottom;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .col-6 {
    padding: 234px 0 140px;
    position: relative;
    width: 100%; 
    background: url(/images/shape_10.png) no-repeat center 0;
    background-position: center top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .l-constrained-5 {
    margin: 0 auto;
    padding: 0 55px;
    position: relative;
    width: 1440px;
  }
  .line-7 {
    display: block;
    height: 2px;
    left: 8px;
    margin: 0 auto;
    position: relative;
    width: 1282px;
    border: 1px solid #5f6551;
  }
  .row-10 {
    left: 19px;
    margin: 64px auto 0;
    position: relative;
    width: 1292px;
  }
  .col-21 {
    float: left;
    margin: 0 81px 0 0;
    position: relative;
    width: 1202px;
  }
  .shape-24 {
    display: block;
    left: 521px;
    margin: 0 auto;
    position: relative;
  }
  .text-10 {
    margin: -24px 0 0;
    position: relative;
  }
  .date-4 {
    float: left;
    margin: 30px 0 0;
    width: 173px;
    color: #5f6551;
    font-family: 'Bebas Neue', display;
    font-size: 2.083333rem; 
    line-height: 33.33333px;
  }
  .price-2 {
    float: left;
    margin: 24px 0 0 1px;
    width: 249px;
    color: #5f6551;
    font-weight: bold;
    line-height: 25px;
  }
  .col-10 {
    float: right;
    position: relative;
    width: 587px;
  }
  .title-11 {
    margin: 0 auto;
    position: relative;
    right: 25.5px;
    width: 442px;
    color: #5f6551;
    font-family: 'Bebas Neue', display;
    font-size: 4.6875rem; 
    letter-spacing: 0.05em;
    line-height: 75px;
    text-transform: uppercase;
    word-wrap: break-word;
  }
  .shape-25 {
    display: block;
    margin: -12px 0 0;
    position: relative;
  }
  .subtitle-7 {
    margin: 23px 0 0 40px;
    color: #5f6551;
    font-family: 'Bebas Neue', display;
    font-size: 2.604167rem;
    text-transform: uppercase;
  }
  .body-text-12 {
    left: 22px;
    margin: 24px auto 0;
    position: relative;
    width: 543px;
    color: #5f6551;
    font-family: Bitter, serif;
    line-height: 45.83333px;
  }
  .line-8 {
    display: block;
    height: 2px;
    left: 9px;
    margin: 33px auto 0;
    position: relative;
    width: 531px;
    border: 1px solid #5f6551;
  }
  .text-11 {
    margin: 28px auto 0;
    width: 493px;
    color: #5f6551;
    font-weight: bold;
    line-height: 41.66667px;
  }
  .shape-26 {
    float: left;
    margin: 54px 0 0;
  }
  .image-6 {
    height: 717px;
    margin: -646px 0 0;
    position: relative;
    width: 100%; 
    z-index: 53;
    background: url(/images/place_your_image_here_dou_2.jpg) no-repeat center 0;
    background-position: center top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .wrapper {
    height: 1430px;
    margin: -22px 0 0;
    position: relative;
    width: 100%; 
    z-index: 6;
  }
  .image-7 {
    height: 574px;
    left: 0;
    position: absolute;
    top: 487px;
    width: 100%; 
    background: url(/images/place_your_image_here_dou.jpg) no-repeat center 0;
    background-position: center top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .col {
    left: 0;
    padding: 258px 0 131px;
    position: absolute;
    top: 490px;
    width: 100%; 
    background: rgba(50, 69, 95, 0.76);
    -webkit-box-shadow: 0.435779px 4.980974px 32px 0 rgba(2, 4, 0, 0.23);
    -moz-box-shadow: 0.435779px 4.980974px 32px 0 rgba(2, 4, 0, 0.23);
    box-shadow: 0.435779px 4.980974px 32px 0 rgba(2, 4, 0, 0.23); /*drop shadow*/
  }
  .l-constrained {
    margin: 0 auto;
    padding: 0 48px;
    position: relative;
    width: 1440px;
  }
  .shape-27 {
    display: block;
    left: 660.5px;
    margin: 0 auto;
    position: relative;
  }
  .shape-28 {
    display: block;
    margin: 19px auto 0;
  }
  .rectangle {
    height: 472px;
    left: 0;
    max-width: 1440px;
    position: absolute;
    top: 18px;
    width: 100%;
    background: #4a4e3f;
    -webkit-box-shadow: 0.435779px 4.980974px 43px 0 rgba(2, 4, 0, 0.2);
    -moz-box-shadow: 0.435779px 4.980974px 43px 0 rgba(2, 4, 0, 0.2);
    box-shadow: 0.435779px 4.980974px 43px 0 rgba(2, 4, 0, 0.2); 
  }
  .shape-holder {
    left: 50%;
    padding: 174px 48px 222px;
    position: absolute;
    top: 0;
    width: 908px;
    background: url(/images/shape_5.png) no-repeat;
    margin-left: -188px;
  }
  .shape-29 {
    display: block;
    left: 394px;
    margin: 0 auto;
    position: relative;
  }
  .shape-holder-2 {
    left: 50%;
    padding: 231px 97px 212px;
    position: absolute;
    top: 54px;
    width: 865px;
    background: url(/images/shape_6.png) no-repeat;
    margin-left: -720px;
  }
  .shape-30 {
    top: 50px;
    display: block;
    height: 9px;
    margin: 0 auto;
    position: relative;
    right: 288px;
    width: 95px;
    background: #fbfbf5;
  }
  .text-12 {
    left: 50%;
    position: absolute;
    top: 113px;
    width: 1253px;
    margin-left: -626px;
  }
  .row-9 {
    position: relative;
  }
  .col-19 {
    float: left;
    margin: 17px 68px 0 0;
    position: relative;
    width: 587px;
  }
  .title-12 {
    margin: 0 0 0 4px;
    width: 583px;
    color: #fbfbf5;
    font-family: 'Bebas Neue', display;
    font-size: 3.645833rem; 
    line-height: 58.33333px;
    text-transform: uppercase;
  }
  .date-5 {
    margin: 86px 0 0;
    color: #fbfbf5;
    font-family: 'Bebas Neue', display;
    font-size: 4.6875rem; 
    text-transform: uppercase;
  }
  .col-20 {
    float: left;
    position: relative;
    width: 503px;
  }
  .percentage-5 {
    color: #fbfbf5;
    font-family: 'Bebas Neue', display;
    font-size: 9.375rem; 
    letter-spacing: 0.05em;
  }
  .body-text-13 {
    margin: 25px 0 0;
    width: 503px;
    color: #fbfbf5;
    font-family: 'Bebas Neue', display;
    font-size: 2.34375rem;
    letter-spacing: 0.05em;
    line-height: 41.66667px;
  }
  .body-text-14 {
    margin: 30px auto 0;
    width: 762px;
    color: #fbfbf5;
    font-family: 'Bebas Neue', display;
    font-size: 45px; 
    line-height: 58.33333px;
    text-align: center;
    text-transform: uppercase;
  }
  .button-7 {
    margin: 176px auto 0;
    min-height: 33px;
    position: relative;
    right: 4px;
    width: 189px;
    -webkit-border-radius: 16.6px/16.5px 16.5px 16.51px 16.51px;
    -moz-border-radius: 16.6px/16.5px 16.5px 16.51px 16.51px;
    border-radius: 16.6px/16.5px 16.5px 16.51px 16.51px;
    background: #fbfbf5;
    color: #5f6551;
    font-variant: small-caps;
    font-weight: bold;
    line-height: 33px;
    text-align: center;
  }
  .title-13 {
    margin: 160px 0 0 87px;
    color: #5f6551;
    font-weight: bold;
    letter-spacing: 0;
    text-transform: uppercase;
  }
  .row-5 {
    left: 43px;
    margin: 15px auto 0;
    overflow: hidden;
    position: relative;
    width: 1167px;
  }
  .body-text-15 {
    float: left;
    width: 537px;
    color: #5f6551;
    font-size: 1.302084rem; 
    font-weight: bold;
    letter-spacing: 0;
    line-height: 29.16667px;
  }
  .about-3 {
    float: right;
    margin: 20px 0 0;
    width: 117px;
    color: #5f6551;
    font-size: 1.302083rem; 
    font-weight: bold;
    letter-spacing: 0;
    text-transform: uppercase;
  }
  .about-2 {
    float: right;
    margin: 20px 22px 0 0;
    width: 161px;
    color: #5f6551;
    font-size:20px; 
    font-weight: bold;
    letter-spacing: 0;
    text-transform: uppercase;
  }
  .about {
    float: right;
    margin: 20px 27px 0 0;
    width: 161px;
    color: #5f6551;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0;
    text-transform: uppercase;
  }
  .row-15 {
    left: 378px;
    margin: -2px auto 0;
    position: relative;
    width: 479px;
  }
  .col-28 {
    float: left;
    position: relative;
    width: 161px;
  }
  .team {
    color: #5f6551;
    font-size: 17px; 
    letter-spacing: 0;
  }
  .text-14 {
    margin: 10px 0 0;
    color: #5f6551;
    font-size: 17px;
    letter-spacing: 0;
  }
  .col-29 {
    float: left;
    margin: 0 0 0 27px;
    position: relative;
    width: 161px;
  }
  .team-2 {
    color: #5f6551;
    font-size: 17px; 
    letter-spacing: 0;
  }
  .text-15 {
    margin: 10px 0 0;
    color: #5f6551;
    font-size: 17px; 
    letter-spacing: 0;
  }
  .col-30 {
    float: left;
    margin: 0 0 0 23px;
    position: relative;
    width: 107px;
  }
  .team-3 {
    color: #5f6551;
    font-size: 17px; 
    letter-spacing: 0;
  }
  .text-16 {
    margin: 10px 0 0;
    color: #5f6551;
    font-size: 17px; 
    letter-spacing: 0;
  }
  .row-14 {
    left: 375.5px;
    margin: 10px auto 0;
    position: relative;
    width: 474px;
  }
  .col-25 {
    float: left;
    position: relative;
    width: 161px;
  }
  .ethic {
    color: #5f6551;
    font-size: 17px;
    letter-spacing: 0;
  }
  .goals {
    margin: 10px 0 0;
    color: #5f6551;
    font-size: 17px; 
    letter-spacing: 0;
  }
  .col-26 {
    float: left;
    margin: 0 0 0 14px;
    position: relative;
    width: 174px;
  }
  .ethic-2 {
    margin: 0 0 0 13px;
    color: #5f6551;
    font-size: 17px;
    letter-spacing: 0;
  }
  .goals-2 {
    margin: 10px 103px 0 0;
    color: #5f6551;
    font-size: 17px; 
    letter-spacing: 0;
    text-align: center;
  }
  .col-27 {
    float: left;
    margin: 0 0 0 23px;
    position: relative;
    width: 102px;
  }
  .ethic-3 {
    color: #5f6551;
    font-size: 17px;
    letter-spacing: 0;
  }
  .goals-3 {
    margin: 10px 0 0;
    color: #5f6551;
    font-size: 17px; 
    letter-spacing: 0;
  }
  .place-your-logo-here-double-click-to-edit-2 {
    left: 50%;
    position: absolute;
    top: 1389px;
    margin-left: -527px;
  }
  .shape-31 {
    height: 21px;
    margin: 59px auto 0;
    max-width: 1440px;
    position: relative;
    z-index: 9;
    background: #5f6551;
    -webkit-box-shadow: 0.435779px 4.980974px 9px 0 rgba(2, 4, 0, 0.18);
    -moz-box-shadow: 0.435779px 4.980974px 9px 0 rgba(2, 4, 0, 0.18);
    box-shadow: 0.435779px 4.980974px 9px 0 rgba(2, 4, 0, 0.18); 
  }
  .text-style-6 {
    font-size: 6.25rem;
  }
  .text-style {
    line-height: 75px;
  }
  .text-style-3 {
    font-size: 2.34375rem;
    letter-spacing: 0.075em;
    line-height: 45.83333px;
    text-transform: uppercase;
  }
  .text-style-4 {
    font-family: 'Bebas Neue', display;
    font-size: 2.604167rem; 
    font-weight: normal;
  }
  .text-style-2 {
    font-size: 2.34375rem; 
    letter-spacing: 0.075em;
    line-height: 58.33333px;
    text-transform: uppercase;
  }
  .text-style-5 {
    font-size: 1.5625rem; 
  }
  .text-style-7 {
    font-size: 2.864583rem;
  }
 